@import "../../styles/index.scss";

.sumary {
    display: flex;
    flex-direction: column;

    gap: 24px;
    width: 50%;
    border: 2px solid var(--color-grey);
    box-shadow: 0 0 12px rgb(168, 168, 168) ;
    border-radius: 6px;
    padding: 14px 12px;

    @media (max-width: 732px) {
        width: 355px;
    }

    .title {
        @include title1;
        padding-bottom: 32px;
    }

    .info {
        display: flex;
        align-items: center;
        justify-content: end;
        gap: 24px;
        border: 1px solid var(--color-primary);
        height: 59px;
        border-radius: 255px;
        padding: 16px;

        .subtitle{
            @include paragraph;
        }

        .subtitle__bold{
            @include paragraphBold;
        }
    }

    .card__container{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 16px;
    }
}