@import "../../styles/index.scss";

.sumary {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 50%;
    height: 434px;
    border: 2px solid var(--color-grey);
    border-radius: 6px;
    padding: 14px 12px;

    @media (max-width: 732px) {
        width: 355px;
    }

    .title {
        @include title1;
        padding-bottom: 32px;
    }

    .info {
        display: flex;
        align-items: center;
        justify-content: end;
        gap: 24px;
        border: 1px solid var(--color-primary);
        height: 59px;
        border-radius: 255px;
        padding: 16px;

        .subtitle{
            @include paragraph;
        }

        .subtitle__bold{
            @include paragraphBold;
        }
    }

    .card__container {
        display: flex;
        flex-wrap: wrap;
        gap: 12px;
        padding-top: 8px;

        .card__content {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: space-around;
            width: 350px;
            height: 181px;
            border-bottom: 3px solid var(--color-primary);

            .card__title{
                @include paragraphBold;
            }

            .card__text{
                @include paragraph
            }

        }

        .remove__note {
            @include paragraph;
            width: 104px;
            height: 35px;
            top: 402px;
            left: 563px;
            border-radius: 255px;
            color: white;
            background-color: var(--color-primary);

            &:hover {
                background-color: var(--color-primary-hover);
            }
        }
    }
}